body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

h1 {
    color: white;
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px purple;
    background-color: gray;
}

.calc-row {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.calc-button {
    font-size: xx-large;
    border-radius: 5px;
}

.display {
    background-color: lightgray;
    color: black;
    width: 250px;
    align-self: flex-end;
}

.op-button {
    background: rgb(55, 18, 84);
    color: white;
}