body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px;
}

.calc-row {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.calc-button {
    font-size: xx-large;
    border-radius: 5px;
}

.display {
    background-color: lightgray;
    width: 250px;
    align-self: flex-end;
}